
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.solanaPayButton {
  border: 1px solid transparent;
  background: black;
  border-radius: 4px;
  color: white;
  padding: 14px 19px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  transition: background 0.1s;
}

.solanaPayButton > img {
  margin-left: 8px;
}

.solanaPayButton:hover:not(:focus) {
  background-color: #414141;
}

.solanaPayButton:focus {
  border: 1px solid #0081C9;
}